.ant-typography {
  margin: 0rem !important;
  word-break: keep-all;
}

.ant-upload-wrapper .ant-upload-drag {
  background: #f1f4f6 !important;
  border: none !important;
}

.ant-picker {
  background-color: #f1f0f4 !important;
}

.ant-input {
  background-color: #f1f0f4 !important;
}

// .anticon>.anticon-paper-clip {
//   background: #5FFC99 !important;
//   padding: pxToRem(10);
// }