@use "sass:map";
@import "/src/styles/functions";

$template-value: 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26;

.cs-grid-container {
  display: grid;
}

@each $value in $template-value {
  .cs-grid-count-#{$value} {
    grid-template-columns: 6% 3fr 3fr 3fr 3fr 3fr;
  }
}

.box_border {
  // border: solid #e5e3e8;
  // border-top: 1px solid #e5e3e8;
  // border-bottom: 1px solid #e5e3e8;
  // border-left: 1px;
  // padding: pxToRem(15);
  border: solid 1px #e5e3e8;
  padding: pxToRem(15);
}

.tab_container {
  background-color: #fff;
}

.cs_font_22 {
  font-size: pxToRem(22);
}

.cs-tab-title {
  font-weight: 500;
  font-size: pxToRem(15);
  line-height: pxToRem(21);
  color: #4f4f4f;
  // border-bottom: pxToRem(3) solid #2e30be00;
}

.cs-center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.cs-cursor-pointer {
  cursor: pointer;
}

.cs-active-tab {
  // color: #38b65a;
  // font-weight: 700;
  border-bottom: pxToRem(2) solid #71e88d;
}

.cs-bp-10 {
  padding-bottom: pxToRem(10);
}

.cs-tab-notify-count {
  background-color: #f2c94c;
  border-radius: 50%;
  width: pxToRem(18);
  height: pxToRem(17);
  font-size: pxToRem(12);
  margin-left: pxToRem(8);
  color: #4f4f4f;
}