@import "/src/styles/functions";
@import "/src/styles/colors";

.current_form_continue {
  padding: pxToRem(10) pxToRem(40) pxToRem(10) pxToRem(20);
  background-color: #38b65a;
  color: #000;
  border-radius: pxToRem(6);
}

.current_form_bg_image{
  position: absolute;
  right: 0;
  bottom: 0;
}