@import "/src/styles/functions";
@import "/src/styles/colors";

.form_child_container {
  display: grid;
  grid-template-columns: 8% 3fr;
}

.cs_progress_step {
  height: pxToRem(5);
  width: pxToRem(21);
  border-radius: pxToRem(5);
}